@import 'ds-button'
@import 'ds-analog'
@import 'ds-motion'


body
	background-color: #222
	color: #ccc
	font-family: 'Courier New'
	font-size: 10px
	h1,h2,h3
		font-size: inherit
		font-weight: inherit
