doctype html
html(lang="en", ng-app='ngdualshock')
    head
        title ng-dualshock Examples
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript', src='http://localhost:8082/socket.io/socket.io.js')
    body
        div(ds-button, key='square') SQUARE {{state | json}}
        div(ds-button, key='triangle') TRIANGLE {{state | json}}
        div(ds-button,key='circle') CIRCLE {{state | json}}
        div(ds-button, key='x') X {{state | json}}

        div(ds-analog, key='left')
            .knob(style='top: {{getPercentile().y}}%; left: {{getPercentile().x}}%;')
            span {{getValue()}}
        //div(ds-analog, key='right')
        //  .knob(style='top: {{getPercentile().y}}%; left: {{getPercentile().x}}%;')

        div(ds-motion, key='rightLeft')
            .knob(style='{{getStyle()}}')

        div(ds-button, key='l1') L1 {{state | json}}
        div(ds-button, key='l2') L2 {{state | json}}

        div(ds-button, key='r1') R1 {{state | json}}
        div(ds-button, key='r2') R2 {{state | json}}

        div(ds-button, key='select') select {{state | json}}
        div(ds-button, key='start') start {{state | json}}

        script(type='text/javascript', src='/vendor/angular/angular.js')
        script(type='text/javascript', src='/vendor/angular-socket-io/socket.js')
        script(type='text/javascript', src='/js/app.js')
        script(type='text/javascript', src='/js/directive/ds-motion.js')