doctype html
html(lang="en", ng-app='dualshock')
	head
		title ng-dualshock Examples
		link(rel='stylesheet', href='css/style.css')
		script(type='text/javascript', src='http://localhost:8082/socket.io/socket.io.js')
	body
		#debug(ng-controller='debugController')
			h1 DualShock service state
			pre {{ debug | json }}
		#layout
			section#button-test
				h1 Button test
				.row
					div(ds-button, key='l2') L2
					div(ds-button, key='l1') L1
					div(ds-button, key='dpadLeft') &larr;
					div(ds-button, key='dpadUp') &uarr;
					div(ds-button, key='dpadDown') &darr;
					div(ds-button, key='dpadRight') &rarr;
					div(ds-button, key='leftAnalogBump') LA
					div(ds-button, key='start') START
					div(ds-button, key='psxButton') PS
					div(ds-button, key='select') SELECT
					div(ds-button, key='rightAnalogBump') RA
					div(ds-button, key='square') &#9632;
					div(ds-button, key='triangle') &#9650;
					div(ds-button, key='x') &times;
					div(ds-button, key='circle') &bull;
					div(ds-button, key='r1') R1
					div(ds-button, key='r2') R2
				h2 Double tap delay test
				.row
					label 100 ms
					div(ds-button, key='l1', double-tap-delay='100') L1
					div(ds-button, key='square') &#9632;
					div(ds-button, key='triangle') &#9650;
					div(ds-button, key='x') &times;
					div(ds-button, key='circle', double-tap-delay='250') &bull;
					div(ds-button, key='r1', double-tap-delay='100') R1
				.row
					label 250 m
					div(ds-button, key='l1', double-tap-delay='250') L1
					div(ds-button, key='square', double-tap-delay='250') &#9632;
					div(ds-button, key='triangle', double-tap-delay='250') &#9650;
					div(ds-button, key='x', double-tap-delay='250') &times;
					div(ds-button, key='circle', double-tap-delay='250') &bull;
					div(ds-button, key='r1', double-tap-delay='250') R1
				.row
					label 1000 ms
					div(ds-button, key='l1', double-tap-delay='1000') L1
					div(ds-button, key='square', double-tap-delay='1000') &#9632;
					div(ds-button, key='triangle', double-tap-delay='1000') &#9650;
					div(ds-button, key='x', double-tap-delay='1000') &times;
					div(ds-button, key='circle', double-tap-delay='1000') &bull;
					div(ds-button, key='r1', double-tap-delay='1000') R1


			section#analog-test
				h1 Analog test
				.row(ds-analog, key='left')
					.knob(style='top: {{getPercentile().y}}%; left: {{getPercentile().x}}%;')
					pre Positioning (%) {{getPercentile() | json}}
					pre Force vector {{getVector() | json}}
					pre Force vector size {{getValue()}}
				.row(ds-analog, key='right')
					.knob(style='top: {{getPercentile().y}}%; left: {{getPercentile().x}}%;')
					pre Positioning (%) {{getPercentile() | json}}
					pre Force vector {{getVector() | json}}
					pre Force vector size {{getValue()}}


			section#motion-test
				h1 Motion test
				div(ds-motion, key='rightLeft')
					.knob(style='{{getStyle()}}')
					label rightLeft force vector size {{getValue()}} ({{getRaw()}})
				div(ds-motion, key='upDown')
					.knob(style='{{getStyle()}}')
					label upDown force vector size {{getValue()}} ({{getRaw()}})
				div(ds-motion, key='forwardBackward')
					.knob(style='{{getStyle()}}')
					label forwardBackward force vector size {{getValue()}} ({{getRaw()}})

			script(type='text/javascript', src='vendor/angular/angular.js')
			script(type='text/javascript', src='vendor/angular-socket-io/socket.js')
			script(type='text/javascript', src='js/module.js')
			script(type='text/javascript', src='js/directive/ds-analog.js')
			script(type='text/javascript', src='js/directive/ds-status.js')
			script(type='text/javascript', src='js/directive/ds-button.js')
			script(type='text/javascript', src='js/directive/ds-motion.js')
			script(type='text/javascript').
				angular.module('dualshock', [
					'xf.dualshock'
				]).run(function(xfDualshockService) {
					xfDualshockService.init({
						host: 'http://localhost:8082'
					});
				}).controller('debugController', ['$scope', 'xfDualshockService', function($scope, xfDualshockService){
					$scope.debug = xfDualshockService.getState();
				}])